.marker-btn {
  border: none;
  cursor: pointer;
  background: none;
}

.marker-img {
  width: 30px;
  height: 30px;
}

/* .mapboxgl-ctrl-group {
  box-shadow: 0 0 0 0px !important;
  background: none !important;
} */

.mapboxgl-ctrl-group {
  width: 30px;
  margin: 10px 0 0 10px;
}
